## Import Libraries

In [1]:
import pandas as pd
import sqlite3
from sqlite3 import Error

## Loading Dataset

#### Assesments dataset

In [2]:
assessments = pd.read_csv('assessments.csv')
assessments.dtypes

code_module           object
code_presentation     object
id_assessment          int64
assessment_type       object
date                 float64
weight               float64
dtype: object

## Membuat create_connection function

In [3]:
def create_connection(path):
    connection=None
    try:
        connection = sqlite3.connect(path)
        print("Connection to SQLite DB successfull")
    except Error as e:
        print(f"The error '{e}' occured")
    return(connection)

## Membuat variable connection

In [4]:
connection = create_connection('connect')

Connection to SQLite DB successfull

## Membuat execute_function

In [5]:
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query executed successfully")
    except Error as e:
        print(f"The error '{e}' occured")

## Membuat Table

#### Membuat table assesments

In [6]:
create_assessments_table= """
CREATE TABLE IF NOT EXISTS assessments (
    code_module TEXT,
    code_presentation TEXT,
    id_assessment INT,
    assessment_type TEXT,
    date INT,
    weight INT,
    PRIMARY KEY (id_assessment)
)
"""
execute_query(connection, create_assessments_table)

Query executed successfully

## Menyimpan data kedalam sql

#### Menyimpan data assessment kedalam sql

In [7]:
assessments.to_sql('assessments', connection, if_exists='append', index=False )

## Menampilkan hasil penyimpanan kedalam sql


Feature data yang ditampilkan dan disimpan adalah:
* id_student
* region
* code_module
* assessment_type
* score
* code_presentation = '2014B'

#### Menampilkan hasil penyimpanan data assessment

In [8]:
assessments = pd.read_sql_query("SELECT code_module, assessment_type, code_presentation FROM assessments WHERE code_presentation ='2014B' ",connection)
assessments.head()

  code_module assessment_type code_presentation
0         BBB             CMA             2014B
1         BBB             CMA             2014B
2         BBB             CMA             2014B
3         BBB             CMA             2014B
4         BBB             CMA             2014B

## Menyimpan data kedalam format Excel

#### Menyimpan data assessments kedalam format excel

In [9]:
assessments.to_excel('assessments.xls')